{{#if session.isAuthenticated}}
<div class="jumbo">
<h1>Welcome {{ session.data.authenticated.korisnik.korisnickoIme }} !</h1>
{{log model.brojOglasa}}
<br>
{{#if (lte model.brojOglasa.broj 2)}}
{{#link-to 'advertise' tagName='button' class="btn btn-primary"}} Objavi novi oglas{{/link-to}}
{{else}}
<h5>Objavili ste vec tri besplatna oglasa</h5>
{{/if}}
<br> <br>
<a  href="" class="btn btn-primary" {{action 'deleteProfile'}}>Obrisi profil</a>
</div>
<br>
<div class="jumbo">
  <h1>Moji oglasi</h1>

  <h4> {{model.brojOglasa.broj}} </h4>
  {{log model.rentals}}
    {{#if model.rentals}}
  {{#each model.rentals as |rental|}}

    <article class="listing">
    {{#if rental.slika }}
      <img src="{{rental.slika}}" alt="">
    {{else}}
     <img src="http://www.manufacturenet.ca/wp-content/uploads/2016/09/real_Estate.jpg" alt="">
    {{/if}}
      <h3>{{#link-to 'rentals.show' rental.id}}{{rental.nazivOglasa}}{{/link-to}}</h3>

      <div class="detail owner">
        <span>Owner:</span> {{rental.korisnik.ime}}
      </div>
      <div class="detail type">
        <span>Type:</span> {{rental.vrstaOglasa}}
      </div>
      <div class="detail location">
        <span>Squares:</span> {{rental.kvadratura}}
      </div>
      <div class="detail bedrooms">
        <span>Number of bedrooms:</span> {{rental.brojProstorija}}
      </div>

      <div class="detail location">
            <span>City:</span> {{rental.grad}}
          </div>

      <div class="detail price">
        <span>Price:</span> {{rental.cijena}} BAM
      </div>
      </article>

  {{/each}}
  {{else}}
  <h3>Nemate kreiranih oglasa! </h3>
  {{/if}}
</div>
{{/if}}
