<div class="jumbo">
<h2>Welcome!</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
 
{{input value=value
        class="light"
        placeholder="Search..."}}
</div>

{{#each model.rentals as |rental|}}
  <article class="listing">
     <img src="{{rental.slika}}" alt="">
     <h3>{{#link-to 'rentals.show' rental.id}}{{rental.nazivOglasa}}{{/link-to}}</h3>
    
    <div class="detail owner">
      <span>Owner:</span> {{rental.korisnik.ime}} 
    </div>
    <div class="detail type">
      <span>Type:</span> {{rental.vrstaOglasa}}
    </div>
    <div class="detail location">
      <span>Squares:</span> {{rental.kvadratura}}
    </div>
    <div class="detail bedrooms">
      <span>Number of bedrooms:</span> {{rental.brojProstorija}}
    </div>
    <div class="detail location">
      <span>Address:</span> {{rental.adresa}}
    </div>
    <div class="detail location">
          <span>City:</span> {{rental.grad}}
        </div>

    <div class="detail price">
      <span>Price:</span> {{rental.cijena}} BAM
    </div>
    </article>
{{/each}}
{{outlet}}
