<div class="jumbo">
<h2>Dobro došli!</h2>
  <p>Nadamo se da ćete naći tačno ono što tražite.</p>

{{input value=value
        class="light"
        placeholder="Traži..."}}
</div>

{{#each model.rentals as |rental|}}
  <article class="listing">
  {{#if rental.slika }}
    <img src="{{rental.slika}}" alt="">
  {{else}}
   <img src="http://www.manufacturenet.ca/wp-content/uploads/2016/09/real_Estate.jpg" alt="">
  {{/if}}
     <h3>{{#link-to 'rentals.show' rental.id}}{{rental.nazivOglasa}}{{/link-to}}</h3>

    <div class="detail owner">
      <span>Vlasnik:</span> {{rental.korisnik.ime}}
    </div>
    <div class="detail type">
      <span>Tip:</span> {{rental.vrstaOglasa}}
    </div>
    <div class="detail location">
      <span>Kvadratura:</span> {{rental.kvadratura}}
    </div>
    <div class="detail bedrooms">
      <span>Broj prostorija:</span> {{rental.brojProstorija}}
    </div>

    <div class="detail location">
          <span>Grad:</span> {{rental.grad}}
        </div>

    <div class="detail price">
      <span>Cijena:</span> {{rental.cijena}} BAM
    </div>
    </article>
{{/each}}
{{outlet}}
