
{{log model.rental}}
{{log model.zainteresovaniK}}

<div class="jumbo">

  <h2>{{model.rental.nazivOglasa}}</h2>
  {{#if session.isAuthenticated}}

    <div class="detail owner">
      <span>Vlasnik:</span> {{#link-to 'accounts.show' model.rental.korisnik.id}}{{model.rental.korisnik.ime}} {{/link-to}}
    </div>
{{/if}}
    <div class="detail type">
      <span>Tip:</span> {{model.rental.vrstaOglasa}}
    </div>
    <div class="detail location">
      <span>Kvadratura:</span> {{model.rental.kvadratura}}
    </div>
    <div class="detail bedrooms">
      <span>Broj prostorija:</span> {{model.rental.brojProstorija}}
    </div>
    <div class="detail location">
      <span>Grad:</span> {{model.rental.grad}}, {{model.rental.adresa}}
    </div>
    <div class="detail location">
      <span>Cijena:</span> {{model.rental.cijena}} BAM
    </div>
    <br>
    {{#if session.isAuthenticated}}
    {{#if (is-equal model.rental.korisnik.id session.data.authenticated.korisnik.id)}}
    <button  class="btn btn-primary" {{action 'delete'}}>Obrisi oglas</button>
    <br>
    <br>
    <h3> Zainteresovani korisnici </h3>
    {{#each model.zainteresovaniK as |z|}}
     {{#link-to 'accounts.show' z.korisnik.id}} {{z.korisnik.ime}} {{/link-to}}
     <br>
    {{/each}}
    {{else}}
    <button  id="ZK" class="btn btn-primary" {{action 'zainteresovan'}}>Zainteresovan</button>
    {{/if}}
    {{/if}}

   </div>
