 <div class="container">
    <section class="register">
<form >
<div class="form-group {{if errors.ime 'has-error'}}">

{{input class="form-control" value=korisnik.ime placeholder="Ime"}}
{{#each errors.ime as |error|}}<br>
<span class="help-block">{{error.message}}</span>
{{/each}}
</div>
<br>

<div class="form-group {{if errors.prezime 'has-error'}}">
{{input class="form-control" value=korisnik.prezime placeholder="Prezime"}}
{{#each errors.prezime as |error|}}<br>
<span class="help-block">{{error.message}}</span>
{{/each}}
</div>
<br>
<div class="form-group {{if errors.korisnickoIme 'has-error'}}">
{{input class="form-control" value=korisnik.korisnickoIme placeholder="username"}}
{{#each errors.korisnickoIme as |error|}}<br>
<span class="help-block">{{error.message}}</span>
{{/each}}
</div>
<br>
<div class="form-group {{if errors.sifra 'has-error'}}">
{{input class="form-control" value=korisnik.sifra placeholder="password"}}
{{#each errors.sifra as |error|}}<br>
<span class="help-block">{{error.message}}</span>
{{/each}}
</div>
<br>
<div class="form-group {{if errors.eMail 'has-error'}}">
{{input class="form-control" value=korisnik.eMail placeholder="email"}}
{{#each errors.eMail as |error|}}<br>
<span  class="help-block">{{error.message}}</span>
{{/each}}
</div>
<br>

<button class="btn" type="button" {{action "submit"}}>Registruj se</button>
</form>
</section>

  </div>
