<div class="container">
  <section class="register">
    <form >
      <div class="form-group {{if errors.korisnickoIme 'has-error'}}">
        {{input class="form-control" value=korisnik.korisnickoIme placeholder="Username"}}
        {{#each errors.korisnickoIme as |error|}}<br />
        <span class="help-block">{{error.message}}</span>
        {{/each}}
      </div>
      <br />
      <div class="form-group {{if errors.sifra 'has-error'}}">
        {{input type="password" class="form-control" value=korisnik.sifra placeholder="Password"}}
        {{#each errors.sifra as |error|}}<br />
        <span class="help-block">{{error.message}}</span>
        {{/each}}
      </div>
      <br />
      <button class="btn" type="button"{{action "login"}}>Prijavi se</button>
    </form>
  </section>

</div>
